html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #333333;
	font-family: sans-serif;
	color: #FFFFFF;
	text-align: center;
	text-size: 200%;
	/* Disable text selection. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.pane {
	display: block;
	margin: 10px auto 10px auto;
	border: 0px solid #EEEEEE;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	clear: both;
	width: 280px;
	padding: 10px 10px 10px 10px;
}

.iconRow {
	padding: 7% 10% 7% 10%;
}

#screen {
	min-height: 100%;
}

#homeContent {
	padding-bottom: 7%;
}

#tickerDiv {
	position:relative;
	margin-top: 7%;
	height: 7%;
	width: 100%;
	clear:both;
}

#topPlaceholder {
	border:1px solid clear;
	border-color:#333333;
	text-align: center;
	width: 37.5%;
	height: 3%;
	float: left;
}

#loginDiv {
	text-align: center;
	width: 20%;
	height: 3%;
	float: right;
}

#bannerDivHome {
	text-align: center;
	width:25%;
	height: 3%;
	float: right;
	padding-right: 17.5%;
}

#bannerDiv {
	text-align: center;
	width:25%;
	height: 3%;
	float: left;
	padding-left: 17.5%;
}

#backDiv {
	text-align: center;
	width: 20%;
	height: 3%;
	float: left;
}

#icons div {
	height: 90px;
}

#icons {
	padding-left: 5%;
	padding-right: 5%;
}

<!-- divs for the left icons -->
#leftIcons {
	float: left;
	width: 90px
}
<!-- divs for the right icons -->
.rightIcons {
	float: right;
}

.icon {
	width: 90px;
	height: 90px;
}

#heading {
	background: #FF7F00; /*#FF7744;*/
	color: #EEEEEE;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.scheduleDay {
	text-decoration: underline;
	color: red;
	font-size: 1em;
	font-weight: bold;
	font-family: arial, sans-serif;
}

.scheduleClass {
	color: grey;
	font-size: 1em;
	font-weight: bold;
	font-family: arial, sans-serif
}

.linkButtons {
	height: 30%;
	width: 70%;
}

.scheduleList {
	border-style: groove;
	border-width: 5px;
	font-family: verdana, arial, sans-serif;
	font-size: .90em;
	font-weight: normal;
	padding-bottom: 1em;
}